# Dependencies
.env
.env.*
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Upload directories
uploads/*
!uploads/.gitkeep

# IDE specific files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Build / Production
/dist
/build
/out
dist-ssr

# Testing
/coverage
.nyc_output

# Misc
*.pem
.vercel
.next
Thumbs.db
*.local
